<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h1 class="fw-bold mb-2 ms-2">Gestión de Productos</h1>
    <div class="d-flex align-items-center mb-2">
      <input type="text" class="form-control me-1 buscador-custom" placeholder="Buscar..." style="width: 260px">

   <button mat-icon-button [matMenuTriggerFor]="menuCategorias" aria-label="Filtrar por categoría">
  <mat-icon>category</mat-icon>
</button>

<mat-menu #menuCategorias="matMenu">
  <button mat-menu-item (click)="filtroCategoria = ''">
    <span>Todas</span>
  </button>
  <button mat-menu-item *ngFor="let cat of categorias" (click)="filtroCategoria = cat">
    <span>{{ cat }}</span>
  </button>
  </mat-menu>
    </div>

    <button class="btn custom-agregar-btn mb-2" (click)="abrirModalAgregar()">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover text-center align-middle w-100">
      <thead class="table-light">
    <tr>
    <th>Imagen</th>
    <th>Nombre</th>
    <th>Categoría</th>
    <th>Ingredientes</th>
    <th>Precio</th>
    <th>Acciones</th>
    </tr>
      </thead>
 <tbody>
  <tr *ngFor="let producto of productosFiltrados">
    <td class="align-middle text-center">
      <img [src]="producto.imagen" width="40" height="40" >
    </td>
    <td class="align-middle">{{ producto.nombre }}</td>    <td class="align-middle">{{ producto.categoria }}</td>

    <td class="align-middle">
      <button class="btn btn-sm btn-outline-primary" (click)="abrirModalVer(producto)">
        Ver
      </button>
    </td>
    
    <td class="align-middle">${{ producto.precio | number:'1.2-2' }}</td>


    <td class="align-middle">
      <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-sm btn-success" (click)="abrirModalEditar(producto)">
          <i class="bi bi-pencil"></i>
        </button>

        <button class="btn btn-sm btn-danger" (click)="abrirModalEliminar(producto)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </td>
  </tr>
</tbody>


    </table>
  </div>
</div>
