<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h2 class="fw-bold mb-2 ms-2 text-dark">Gestión de Productos</h2>

    <div class="d-flex align-items-center mb-2 position-relative">
      <mat-icon class="icono-busqueda">search</mat-icon>
      <input
        type="text"
        placeholder="Buscar producto..."
        [(ngModel)]="filtroTexto"
        style="width: 300px;"
        class="form-control me-2 buscador-custom ps-5"
      />

      <button
        mat-icon-button
        [matMenuTriggerFor]="menuCategorias"
        aria-label="Filtrar por categoría"
        class="icono-negro"
      >
        <mat-icon>category</mat-icon>
      </button>

      <mat-menu #menuCategorias="matMenu">
        <button mat-menu-item (click)="filtroCategoria = ''">
          <span>Todas</span>
        </button>
        <button
          mat-menu-item
          *ngFor="let cat of categorias"
          (click)="filtroCategoria = cat.nombre"
        >
          <span>{{ cat.nombre }}</span>
        </button>
      </mat-menu>
    </div>

    <button class="btn custom-agregar-btn mb-2" (click)="abrirModalAgregar()">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center align-middle w-100">
      <thead class="custom-header">
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Ing/Ins</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosFiltrados">
          <td class="align-middle text-center">
            <img [src]="producto.imagen" width="40" height="40" />
          </td>
          <td class="align-middle">{{ producto.nombre }}</td>
          <td class="align-middle">{{ getNombreCategoria(producto.categoria) }}</td>
          <td class="align-middle">
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="abrirModalVer(producto)"
            >
              Ver
            </button>
          </td>
          <td class="align-middle">${{ producto.precio | number: '1.2-2' }}</td>
          <td class="align-middle">
            <div class="d-flex justify-content-center gap-2">
              <button
                class="btn btn-sm btn-success"
                (click)="abrirModalEditar(producto)"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                class="btn btn-sm btn-danger"
                (click)="abrirModalEliminar(producto)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
