
.custom-agregar-btn {
  background-color: #fe8f26; /* color café */
  border-color: #fe8f26;
  color: white;
  padding: 10px 19px;
  font-size: 1rem;
  border-radius: 8px;
    font-weight: 1000;      


}

.buscador-custom {
  background-color: #f9f9f9; /* Ejemplo: color claro tipo café */
  color: #3e2c1c;             /* Texto en marrón oscuro */
  border: 1px solid #000000;  /* Borde café */
  font-weight: 500;
}

.buscador-custom::placeholder {
  color: #5b5b5b; /* Color del texto de placeholder */
  opacity: 1;
}



.icono-busqueda {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none;
}

.con-icono {
  padding-left: 35px !important; 
}










.custom-input {
  border: 2px solid rgb(177, 177, 177) !important;
  color: black;
  background-color: white;
  border-radius: 4px;
}

.icono-negro mat-icon {
  color: black !important;
  margin-top: -5px;
}



/* Imagen redondeada con borde suave */
table img {
  border-radius: 0.375rem; /* 6px */
  border: 1px solid #dee2e6; /* borde gris claro */
  padding: 2px;
  background-color: #f8f9fa; /* opcional: fondo claro */
}






.custom-header {
  color: white;

  th {
    background-color: #2d1a15d4;
    color: white;
  }
}



.table, 
.table th, 
.table td {
  border-width: 1px; /* aumenta el grosor */
  border-style: solid; /* asegúrate que el borde sea sólido */
  border-color: rgb(128, 128, 128); /* color negro para más contraste */
}




