.custom-agregar-btn {
  background-color: #fe8f26; /* por ejemplo verde */
  color: white;
  font-weight: bold;
}




.custom-header {
  color: white;

  th {
    background-color: #2d1a15d4;
    color: white;
  }
}



.table, 
.table th, 
.table td {
  border-width: 1px;
  border-style: solid; 
  border-color: rgb(128, 128, 128); 
}


.form-label{
  font-weight: 600;
}