<div class="container-fluid py-4">
 <div class="d-flex justify-content-between align-items-center mb-1 flex-wrap">
  <h3 class="fw-bold mb-2 ms-2 text-dark">Lista de Órdenes</h3>
</div>

<div class="row mb-2">

    <div class="col-md-4">
      <label for="fecha" class="form-label">Selecciona Fecha:</label>
     <input
  id="fecha"
  type="date"
  [(ngModel)]="filtroFecha"
  class="form-control"
  (change)="aplicarFiltros()"
/>
    </div>
  </div>

  <div class="table-responsive" *ngIf="ordenes.length > 0; else noData">
    <table class="table table-bordered table-hover text-center align-middle w-100">
      <thead class="custom-header">
        <tr>
          <th>ID Orden</th>
          <th>Mesa</th>
          <th>Mesero</th>
          <th>Tipo de Cliente</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Productos</th>
          <th>Descuento</th>
          <th>Total</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenes">
          <td>{{ orden.id }}</td>
          <td>#{{ orden.table_number }}</td>
          <td>{{ orden.waiter_name || 'Sin asignar' }}</td>
          <td>{{ orden.tipo_cliente }}</td>
          <td>{{ formatearFecha(orden.fecha) }}</td>
          <td>{{ orden.created_at | date: 'shortTime' }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary" (click)="verProductos(orden.id)">Ver</button>
          </td>
          <td>${{ orden.descuento }}</td>
          <td>${{ orden.total }}</td>
          <td>{{ orden.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noData>
    <div class="alert alert-info text-center">
      Selecciona una fecha para ver las órdenes.
    </div>
  </ng-template>
</div>
