<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h2  class="fw-bold mb-2 ms-2 text-dark" >Gestión de Categorías</h2>
    
    
   <div class="d-flex align-items-center mb-2 buscador-con-icono">
  <mat-icon class="icono-busqueda">search</mat-icon>

  <input
    type="text"
    class="form-control me-2 buscador-custom"
    placeholder="Buscar Categoria..."
    [(ngModel)]="filtroNombre"
    style="width: 300px"
  >
</div>



    <button class="btn custom-agregar-btn mb-2" (click)="openAdd()">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </div>

  <div class="table-responsive">
<table class="table table-bordered table-hover text-center align-middle w-100">
  <thead class="custom-header">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of filteredCategories">
          <td>{{ cat.nombre }}</td>
          <td>{{ cat.descripcion }}</td>
          <td>
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-sm btn-success" (click)="openEdit(cat)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="openDelete(cat)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
