<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h1 class="fw-bold mb-2 ms-2">Gestión de Categorías</h1>
    <div class="d-flex align-items-center mb-2">
      <input type="text"
             class="form-control me-2 buscador-custom"
             placeholder="Buscar por nombre..."
             [(ngModel)]="filtroNombre"
             style="width: 300px">
    </div>
    <button class="btn custom-agregar-btn mb-2" (click)="openAdd()">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover text-center align-middle w-100">
      <thead class="table-light">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of filteredCategories">
          <td>{{ cat.nombre }}</td>
          <td>{{ cat.descripcion }}</td>
          <td>
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-sm btn-success" (click)="openEdit(cat)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="openDelete(cat)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
