<h2 mat-dialog-title>Agregar Suministro</h2>

<mat-dialog-content>
  <form [formGroup]="suministroForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre del insumo</mat-label>
  <input matInput formControlName="nombre" required maxlength="40">
  <mat-hint align="end">
    {{ suministroForm.get('nombre')?.value?.length || 0 }}/40
  </mat-hint>      <mat-error *ngIf="suministroForm.get('nombre')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

   

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Unidad de Medida</mat-label>
      <mat-select formControlName="unidad" required>
        <mat-option value="Kg">Kilogramos</mat-option>
        <mat-option value="L">Litros</mat-option>
        <mat-option value="Unidad">Unidades</mat-option>
        <mat-option value="Paquete">Paquetes</mat-option>
      </mat-select>
      <mat-error *ngIf="suministroForm.get('unidad')?.hasError('required')">Seleccione una unidad</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock" min="0" required>
      <mat-error *ngIf="suministroForm.get('stock')?.hasError('required') || suministroForm.get('stock')?.hasError('min')">El stock no puede ser negativo</mat-error>
    </mat-form-field>

  
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()" [disabled]="suministroForm.invalid">
    Guardar
  </button>
</mat-dialog-actions>
