<h2 mat-dialog-title>{{ modo === 'agregar' ? 'Agregar Ingrediente' : 'Editar Ingrediente' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Unidad</mat-label>
      <input matInput formControlName="unidad" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock" min="0" />
    </mat-form-field>

 
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()" [disabled]="form.invalid">
    {{ modo === 'agregar' ? 'Agregar' : 'Guardar' }}
  </button>
</mat-dialog-actions>
