<div class="config-container">
  <!-- LADO IZQUIERDO -->
  <div class="left-panel">
    <div class="profile-photo">
      <img [src]="fotoPerfilUrl" alt="Foto de perfil">
      <input type="file" id="uploadFoto" (change)="onFotoSeleccionada($event)" hidden>
      <label for="uploadFoto">
        <button mat-mini-fab  class="edit-icon" type="button">
          <mat-icon>edit</mat-icon>
        </button>
      </label>
    </div>

    <h3 class="nombre-usuario">Adan Morales</h3>
    <p class="rol-usuario">administrador</p>

    <mat-divider></mat-divider>

    <div class="opciones">
    </div>
  </div>

  <!-- LADO DERECHO -->
  <div class="right-panel">
    <h2 class="titulo-panel">
     información personal
    </h2>

    <form class="formulario-info">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido Materno</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Rol</mat-label>
        <input matInput disabled value="Administrador">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email">
      </mat-form-field>
    </form>

    <div class="boton-editar ">
      <button mat-flat-button  color="warn">Editar información</button>
    </div>
  </div>
</div>
