<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h2 class="fw-bold mb-2 ms-2">Inventario de Suministros</h2>

    <div class="d-flex align-items-center mb-2">
      <input type="text" class="form-control me-2 buscador-custom" placeholder="Buscar..." style="width: 300px" [(ngModel)]="filtroTexto">

      <!-- Botón de categoría con ícono -->
      <button mat-icon-button [matMenuTriggerFor]="menuCategorias" aria-label="Filtrar por categoría" class="me-2">
        <mat-icon>category</mat-icon>
      </button>

      <!-- Menú de categorías -->
      <mat-menu #menuCategorias="matMenu">
        <button mat-menu-item (click)="filtroCategoria = ''">
          <mat-icon>all_inclusive</mat-icon>
          <span>Todas</span>
        </button>
        <button mat-menu-item *ngFor="let cat of categorias" (click)="filtroCategoria = cat">
          <mat-icon>label</mat-icon>
          <span>{{ cat }}</span>
        </button>
      </mat-menu>
      
    </div>

     <button class="btn custom-agregar-btn mb-2" (click)="abrirModalAgregar()">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover text-center align-middle w-100">
      <thead class="table-light">
        <tr>
          <th>Nombre del artículo</th>
          <th>ID</th>
          <th>Categoría</th>
          <th>Stock</th>
          <th>Unidad</th>
          <th>Última compra</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inventarioFiltrado">
          <td class="align-middle">{{ item.nombre }}</td>
          <td class="align-middle">{{ item.id }}</td>
          <td class="align-middle">{{ item.categoria }}</td>
          <td class="align-middle" [ngClass]="{'text-danger': item.stock < item.stockMinimo}">
            {{ item.stock }}
          </td>
          <td class="align-middle">{{ item.unidad }}</td>
          <td class="align-middle">{{ item.ultimaCompra }}</td>
          <td class="align-middle">
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-sm btn-success" (click)="abrirModalEditar(item)">
                <i class="bi bi-pencil"></i> Editar
              </button>
              <button class="btn btn-sm btn-danger" (click)="abrirModalEliminar(item)">
                <i class="bi bi-trash"></i> Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
