<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h2  class="fw-bold mb-2 ms-2 text-dark">Gestión de Ingredientes</h2>

  <div class="d-flex align-items-center mb-2 position-relative buscador-container">
  <mat-icon class="icono-busqueda">search</mat-icon>
  <input type="text" class="form-control me-2 ps-5 buscador-custom"
         placeholder="Buscar Ingrediente..."
         [(ngModel)]="filtroNombre"
         style="width: 300px">
</div>


    <button class="btn custom-agregar-btn mb-2" (click)="abrirModalAgregar()">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </div>

  <div class="table-responsive">
<table class="table table-bordered table-hover text-center align-middle w-100">
  <thead class="custom-header">
        <tr>
          <th>Nombre</th>
          <th>Unidad</th>
          <th>Stock</th>
          <th>Última actualización</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingrediente of ingredientesFiltrados">
          <td>{{ ingrediente.nombre }}</td>
          <td>{{ ingrediente.unidad }}</td>
          <td class="align-middle" [ngClass]="{'text-danger fw-bold': esStockBajo(ingrediente), 'text-success fw-semibold': !esStockBajo(ingrediente) }">{{ ingrediente.stock }}</td>
          <td>{{ (ingrediente.updated_at || ingrediente.created_at) | date:'short' }}</td>
          <td>
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-sm btn-success" (click)="abrirModalEditar(ingrediente)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="abrirModalEliminar(ingrediente)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
