.table {
  border-collapse: collapse;

  th,
  td {
    border: 0.1px solid #000 !important;
    padding: 8px;
  }
}

.custom-agregar-btn {
  background-color: #fe8f26;
  border-color: #fe8f26;
  color: white;
  padding: 10px 19px;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 1000;
}

.form-label {
  font-weight: 600;
}

.custom-header {
  color: white;

  th {
    background-color: #2d1a15d4;
    color: white;
  }
}
