<h2 mat-dialog-title>Detalles del Producto</h2>

<mat-dialog-content class="grid-container">
  <div class="detalle-box">
    <h4>🧄 Ingredientes</h4>
    <div class="lista-header">
      <span class="nombre">Nombre</span>
      <span class="cantidad">Cantidad</span>
    </div>
    <ul *ngIf="data.ingredientes?.length; else sinIngredientes">
      <li *ngFor="let ing of data.ingredientes">
        <span class="nombre">{{ ing.nombre }}</span>
        <span class="cantidad">{{ ing.cantidad}}  {{ ing.unidad}}</span>
      </li>
    </ul>
    <ng-template #sinIngredientes>
      <p>No hay ingredientes asignados.</p>
    </ng-template>
  </div>

  <div class="detalle-box">
    <h4>📦 Insumos</h4>
    <div class="lista-header">
      <span class="nombre">Nombre</span>
      <span class="cantidad">Cantidad</span>
    </div>
    <ul *ngIf="data.insumos?.length; else sinInsumos">
      <li *ngFor="let ins of data.insumos">
        <span class="nombre">{{ ins.nombre }}</span>
        <span class="cantidad">{{ ins.cantidad }} {{ ins.unidad}}</span>
      </li>
    </ul>
    <ng-template #sinInsumos>
      <p>No hay insumos asignados.</p>
    </ng-template>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
