.sidenav-container {
  height: 100vh;
  background-color: #f5f5f5;
}

.sidenav {
  width: 180px;
  background-color: #f5f5f5;
  color: #000;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-section {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
}

.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.profile-info {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    font-size: 15px;
      font-weight: 500;

    color: #000; 
  }

  p {
    margin: 0;
    font-size: 10px;
      font-weight: 500;

    color: #000; 
  }
}

.btn-config {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;

  mat-icon {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 18px;
  }
}

.mat-toolbar {
  color: white !important;
  background-color: #1b120a !important;
}

.titulo-app {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  color: white !important;
}

.logout-button {
  margin-left: -15px;
  text-align: center;
  padding: 14px;
}

mat-nav-list a {
  color: #444;

  &:hover {
    background-color: #dcdcdc;
  }

  mat-icon {
    font-size: 20px;
    width: 18px;
    height: 18px;
    margin-right: 18px;
    vertical-align: middle;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container {
  display: flex;
  align-items: center;
}

.toolbar-logo {
  width: 30px;
  height: 30px;
  margin-left: 0px;
  border-radius: 4px;
  object-fit: cover;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 30px;
}
