<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="sidenavOpened"
    (openedChange)="onSidenavToggle($event)">

    <div class="company-section">
      <img src="/logocafeteria.jpg" alt="Logo de la empresa" class="company-logo">
      <h3 class="company-name">Cafetería Tatiaxca</h3>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/inicio" >
        <mat-icon matListIcon>home</mat-icon>
        <span>Inicio</span>
      </a>
      <a mat-list-item routerLink="/dashboard/products">
        <mat-icon matListIcon>inventory_2</mat-icon>
        <span>Menú</span>
      </a>
      <a mat-list-item routerLink="/dashboard/ingredients">
        <mat-icon matListIcon>restaurant_menu</mat-icon>
        <span>Ingredientes</span>
      </a>
       <a mat-list-item routerLink="/dashboard/inventory">
        <mat-icon matListIcon>warehouse</mat-icon>
        <span>Insumos</span>
      </a>
         <a mat-list-item routerLink="/dashboard/categories">
        <mat-icon matListIcon>category</mat-icon>
        <span>Categorías</span>
      </a>
      <a mat-list-item routerLink="/dashboard/users" >
        <mat-icon matListIcon>group</mat-icon>
        <span>Usuarios</span>
      </a>
     <a mat-list-item routerLink="/dashboard/tables" >
       <mat-icon matListIcon>table_restaurant</mat-icon>
       <span>Mesas</span>
      </a>
     <a mat-list-item routerLink="/dashboard/roles">
      <mat-icon matListIcon>badge</mat-icon> 
      <span>Roles</span>
     </a>
     <a mat-list-item routerLink="/dashboard/status">
       <mat-icon matListIcon>toggle_on</mat-icon> 
       <span>Estado</span>
       </a>
      <a mat-list-item routerLink="/dashboard/reports">
        <mat-icon matListIcon>bar_chart</mat-icon>
        <span>Reportes</span>
      </a>
        <a mat-list-item routerLink="/dashboard/orders">
        <mat-icon matListIcon>bar_chart</mat-icon>
        <span>Ordenes</span>
      </a>
    </mat-nav-list>

  

    <div *ngIf="cerrandoSesion" class="overlay">
      <div class="spinner-container">
        <mat-spinner diameter="50"></mat-spinner>
        <span style="margin-left: 15px; color: white; font-size: 1.2rem;">Cerrando sesión...</span>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [class.content-margin]="isSideMode && sidenavOpened">
   <mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()" aria-label="Abrir/cerrar menú">
    <mat-icon>{{ sidenavOpened ? 'close' : 'menu' }}</mat-icon>
  </button>

  <img src="/logocafeteria.jpg" alt="Logo" class="toolbar-logo">
  <span class="titulo-app">Cafetería Tatiaxca</span>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="perfilMenu" class="toolbar-profile-button">
    <img src="/perfil.jpg" alt="Perfil" class="profile-image" />
    <div class="profile-info">
      <h3>{{ user?.correo || 'Usuario' }}</h3>
      <p>{{ user?.rol || 'Rol desconocido' }}</p>
        <mat-icon>arrow_drop_down</mat-icon>

    </div>
  </button>

  <mat-menu #perfilMenu="matMenu">
    <button mat-menu-item [routerLink]="['/dashboard/configuration']">
      <mat-icon>settings</mat-icon>
      <span>Configuración</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
