<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="sidenavOpened"
      (openedChange)="onSidenavToggle($event)">

    <div class="profile-section">
      <img src="/images.jpeg" alt="Foto de perfil" class="profile-image">
      <div class="profile-info">
        <h3>Adansito</h3>
        <p>Administrador</p>
      </div>
       <button class="btn-config" type="button"[routerLink]="['/dashboard/configuration']">
    <mat-icon>settings</mat-icon>
  </button>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/inicio" (click)="drawer.close()">Inicio</a>
      <a mat-list-item routerLink="/dashboard/products" (click)="drawer.close()">Productos</a>
      <a mat-list-item routerLink="/dashboard/users" (click)="drawer.close()">Usuarios</a>
      <a mat-list-item routerLink="/dashboard/inventory" (click)="drawer.close()">Insumos</a>
      <a mat-list-item routerLink="/dashboard/ingredients" (click)="drawer.close()">Ingredientes</a>
      <a mat-list-item routerLink="/dashboard/reports" (click)="drawer.close()">Reportes</a>
      <a mat-list-item routerLink="/dashboard/orders" (click)="drawer.close()">Ordenes</a>
    </mat-nav-list>


        <div class="logout-button">
      <button mat-button color="warn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </div>
  



  <div *ngIf="cerrandoSesion" class="overlay">
  <div class="spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
    <span style="margin-left: 15px; color: white; font-size: 1.2rem;">Cerrando sesión...</span>
  </div>
</div>



  </mat-sidenav>





  <mat-sidenav-content [class.content-margin]="isSideMode && sidenavOpened">
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()" aria-label="Abrir/cerrar menú">
        <mat-icon>{{ sidenavOpened ? 'close' : 'menu' }}</mat-icon>
      </button>
      <span class="titulo-app">Cafeteria-Tatlaxca</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
