/* Estilos generales del sidenav */
.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  color: rgb(0, 0, 0);
}




mat-nav-list a:hover {
  background-color: #d0d0d0;
}

mat-nav-list a.mat-list-item {
  border-radius: 4px;
}

mat-icon {
  margin-right: 20px;
}

/* Botón cerrar/abrir */
mat-toolbar {
  background-color: #3c1e1e;
  color: #ffffff;
  font-weight: bold;
}

/* Contenido principal */
mat-sidenav-content {
  background-color: #f9f9f9;
  padding: 0px;
}

.titulo-app {
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  margin-left: 10px;
}





.profile-section {
  display: flex;
  align-items: center;
  margin-left: -10px;
  padding: 20px;
  background-color: #ffffff; /* ajusta el fondo según tu mockup */
  border-bottom: 1px solid #ffffff;
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 30%;
  object-fit: cover;
  margin-right: 12px;
}

.profile-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.profile-info p {
  margin: 0;
  font-size: 12px;
  color: #000000;
}







.btn-config {
  background-color: transparent;
  border: none;
  
  cursor: pointer;
  font-size: 24px;
  color: #000000;
}

.btn-config mat-icon {
  vertical-align: middle;
  margin-right: -40px;
}