.sidenav-container {
  height: 100vh;
  background-color: #f5f5f5;
}

.sidenav {
  width: 175px;
  background-color: #121212;
  color: white;
}



mat-nav-list a {
  color: rgb(228, 228, 228);
  font-size: 13px; 
  padding: 6px 12px; 
  height: 50px; 
  margin-top: -10px;


  

  mat-icon {
    font-size: 18px; 
    width: 16px;
    height: 16px;
    color: #a3a3a3;
    margin-right: 12px;
    vertical-align: middle;
  }

  &:hover {
    background-color: #1c1817;
  }
}

.profile-section {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  background-color: #121212;
  gap: 8px;
}

.profile-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.profile-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h3 {
    margin: 0;
    font-size: 12px;
    color: white;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p {
    margin: 0;
    font-size: 10px;
    color: #ccc;
    line-height: 1.1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}


.btn-config {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2px;
  color: #ffffff;
}

.btn-config mat-icon {
  vertical-align: middle;
  margin-right: -20px;
}

.mat-toolbar {
  color: white !important;
  background-color: #121212 !important;
}

.titulo-app {
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  color: white !important;
}

.logout-button {
  margin-left: -15px;
  text-align: center;
  padding: 15px;
  margin-top: -26px;
}

mat-nav-list a {
  color: rgb(228, 228, 228);

  &:hover {
    background-color: #3a2614;
  }
}



mat-nav-list a mat-icon {
  font-size: 20px; 
  width: 18px;
  height: 18px;
  margin-right: 18px;
  vertical-align: middle;
}

.toolbar-logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  object-fit: cover;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 10px;
}

mat-sidenav {
  box-shadow: none !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  scrollbar-width: none;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}


.company-section {
  text-align: center;
  padding: 16px 10px;
  background-color: #121212;

  .company-logo {
    width: 50px;
    padding: 5px;
    height: 50px;
    border-radius: 6px;
    object-fit: cover;
  }

  .company-name {
    font-size: 14px;
    color: #ffffff;
    margin: 8px 0 0;
    font-weight: bold;
  }
}



::ng-deep .mat-mdc-list-item {
  color: #a3a3a3 !important;
  opacity: 1 !important;
}

::ng-deep .mat-mdc-list-item .mat-icon {
  color: #a3a3a3 !important;
  opacity: 1 !important;
}

::ng-deep .mat-mdc-list-item .mdc-list-item__primary-text {
  color: white !important;
  opacity: 1 !important;
}

::ng-deep .mat-mdc-list-item .mdc-list-item__graphic {
  color: white !important;
  opacity: 1 !important;
}

::ng-deep .mat-toolbar button[mat-icon-button] .mat-icon {
  color: white !important;
}



.toolbar-profile-button {
  display: flex;
  gap: 8px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;


  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 180px;
    margin-top: -10px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    white-space: nowrap;

    h3 {
      margin: 0;
      font-size: 13px;
      font-weight: 600;
      color: white;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      margin: 0;
      font-size: 11px;
      color: #cccccc;
      line-height: 1.9;
   
    }
  }

  mat-icon {
    font-size: 24px;
    margin-left: 170px;
    margin-top: -30px;
    color: white;
    flex-shrink: 0;
  }
}



@media (max-width: 600px) {
  .toolbar-profile-button {
    padding: 4px 8px;
    gap: 0;
    justify-content: flex-end;

    .profile-info,
    mat-icon {
      display: none;
    }

    .profile-image {
      width: 30px;
      height: 30px;
      margin: 0;
    }
  }
}



.menu-section {
  padding: 6px 16px;
  font-weight: bold;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem; 
  box-sizing: border-box;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.spinner-container mat-spinner {
  margin-bottom: 15px;
}




button[aria-label="Notificaciones"] {
  margin-top: -10px; 
}












.notification-dropdown {
  .dropdown-menu {
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 0;
  }

  .dropdown-header {
    background-color: #f8f9fa;
  }

  li {
    cursor: default;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}



