
.custom-agregar-btn {
  background-color: #fe8f26; /* color café */
  border-color: #8B4513;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;

}
.filtros-row {
  display: flex;
  gap: 10px; /* Espacio horizontal entre los campos */
  flex-wrap: wrap; /* Para que se acomoden en pantallas pequeñas */
  margin-bottom: 0px;
}

.campo-filtro {
  width: 160px; /* Puedes ajustar este valor si lo quieres más pequeño o más grande */
}

.filtros-row {
  margin-top: -40px;
}

