.sidenav {
  width: 200px;
  height: 100%;
  padding-top: 1rem;
}

.sidenav .mat-toolbar {
  background-color: #5a3737;
  color: white;
  font-weight: bold;
  text-align: center;
}

.mat-nav-list a.mat-list-item {
  color: white !important;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.mat-nav-list a.mat-list-item:hover {
  background-color: #6e4646;
  color: white !important;
}

.content-margin {
  margin-left: 200px;
  transition: margin 0.3s ease;
}
