
.custom-agregar-btn {
  background-color: #fe8f26; /* color café */
  border-color: #fe8f26;
  color: white;
  padding: 10px 19px;
  font-size: 1rem;
  border-radius: 8px;
    font-weight: 1000;      


}


.buscador-custom {
  background-color: #f9f9f9; /* Ejemplo: color claro tipo café */
  color: #3e2c1c;             /* Texto en marrón oscuro */
  border: 1px solid #000000;  /* Borde café */
  font-weight: 500;
}

.buscador-custom::placeholder {
  color: #5b5b5b; /* Color del texto de placeholder */
  opacity: 1;
}


.icono-busqueda {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none;
}

.icono-negro {
  color: black !important;
}








.custom-header {
  color: white;

  th {
    background-color: #2d1a15d4;
    color: white;
  }
}



.table, 
.table th, 
.table td {
  border-width: 1px; /* aumenta el grosor */
  border-style: solid; /* asegúrate que el borde sea sólido */
  border-color: rgb(128, 128, 128); /* color negro para más contraste */
}
