<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h3 class="fw-bold mb-2 ms-2 text-dark">Gestión de Usuarios</h3>

   <div class="d-flex align-items-center mb-2 position-relative">
  <mat-icon class="icono-busqueda">search</mat-icon>

  <input
    type="text"
    [(ngModel)]="busquedaNombre"
    class="form-control me-2 buscador-custom ps-5"
    placeholder="Buscar usuario..."
    style="width: 300px;"
  />

  <button mat-icon-button [matMenuTriggerFor]="menuCargos" aria-label="Filtrar por cargo">
    <mat-icon class="icono-negro">category</mat-icon>
  </button>

      <mat-menu #menuCargos="matMenu">
        <button mat-menu-item (click)="filtroCargo = ''">
          <span>Todos</span>
        </button>
        <button mat-menu-item *ngFor="let cargo of cargos" (click)="filtroCargo = cargo">
          <span>{{ cargo }}</span>
        </button>
      </mat-menu>
    </div>

    <button class="btn custom-agregar-btn mb-2" (click)="abrirModalAgregar()">
      <mat-icon>add</mat-icon> Agregar
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle w-100">
      <thead class="table-light">
        <tr>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Cargo</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let usuario of usuariosFiltrados">
          <td class="align-middle">{{ usuario.nombre }}</td>
          <td class="align-middle">{{ usuario.appaterno }}</td>
          <td class="align-middle">{{ usuario.apmaterno }}</td>
          <td class="align-middle">{{ usuario.cargo }}</td>
          <td class="align-middle">{{ usuario.telefono }}</td>
          <td class="align-middle">{{ usuario.correo }}</td>
          <td class="align-middle">
            <div class="d-flex justify-content-center gap-1">
              <button class="btn btn-sm btn-success" (click)="abrirModalEditar(usuario)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="abrirModalEliminar(usuario)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
