<h2 mat-dialog-title>
  {{ data.modo === 'agregar' ? 'Agregar Usuario' : (data.modo === 'editar' ? 'Editar Usuario' : 'Eliminar Usuario') }}
</h2>

<mat-dialog-content *ngIf="data.modo !== 'eliminar'">
  <form [formGroup]="usuarioForm" class="usuario-form">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" maxlength="15"appCapitalize />
      <mat-error *ngIf="usuarioForm.get('nombre')?.hasError('required')">El nombre es requerido</mat-error>
      <mat-error *ngIf="usuarioForm.get('nombre')?.hasError('pattern')">Solo letras permitidas</mat-error>
      <mat-hint align="end">{{ usuarioForm.get('nombre')?.value?.length || 0 }}/15</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput formControlName="apellidoPaterno" maxlength="15" appCapitalize />
      <mat-error *ngIf="usuarioForm.get('apellidoPaterno')?.hasError('required')">El apellido paterno es requerido</mat-error>
      <mat-hint align="end">{{ usuarioForm.get('apellidoPaterno')?.value?.length || 0 }}/15</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Apellido Materno</mat-label>
      <input matInput formControlName="apellidoMaterno" maxlength="15" appCapitalize />
      <mat-error *ngIf="usuarioForm.get('apellidoMaterno')?.hasError('required')">El apellido materno es requerido</mat-error>
      <mat-hint align="end">{{ usuarioForm.get('apellidoMaterno')?.value?.length || 0 }}/15</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="id_rol">
        <mat-option *ngFor="let r of data.roles" [value]="r.id">{{ r.rol }}</mat-option>
      </mat-select>
      <mat-error *ngIf="usuarioForm.get('id_rol')?.hasError('required')">El rol es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" maxlength="10" />      <mat-hint align="end">{{ usuarioForm.get('telefono')?.value?.length || 0 }}/10</mat-hint>
      <mat-error *ngIf="usuarioForm.get('telefono')?.hasError('required')">El teléfono es requerido</mat-error>
      <mat-error *ngIf="usuarioForm.get('telefono')?.hasError('pattern')">Solo números válidos</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="correo" maxlength="40" />
      <mat-error *ngIf="usuarioForm.get('correo')?.hasError('required')">El correo es requerido</mat-error>
      <mat-error *ngIf="usuarioForm.get('correo')?.hasError('email')">Correo inválido</mat-error>
       <mat-error *ngIf="usuarioForm.get('correo')?.hasError('pattern')">
    solo letras y numeros terminar en <strong>.com</strong>
  </mat-error>
      <mat-hint align="end">{{ usuarioForm.get('correo')?.value?.length || 0 }}/40</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" maxlength="12" />
      <mat-error *ngIf="usuarioForm.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
      <mat-error *ngIf="usuarioForm.get('password')?.hasError('minlength')">Mínimo 6 caracteres</mat-error>
      <mat-error *ngIf="usuarioForm.get('password')?.hasError('maxlength')">Máximo 12 caracteres</mat-error>
      <mat-hint align="end">{{ usuarioForm.get('password')?.value?.length || 0 }}/12</mat-hint>
    </mat-form-field>
 
  </form>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.modo === 'eliminar'">
  <p>¿Seguro que quieres eliminar al usuario <strong>{{ data.usuario.nombre }} {{ data.usuario.apellidoPaterno }}</strong>?</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" *ngIf="data.modo !== 'eliminar'" [disabled]="usuarioForm.invalid" (click)="guardar()">Guardar</button>
  <button mat-flat-button color="warn" *ngIf="data.modo === 'eliminar'" (click)="eliminar()">Eliminar</button>
</mat-dialog-actions>
